$colores-layout: (
    blanco: #fff,
    negro: #000,
    gris: #808080
);

// MAP - Colores hover redes footer

$colores-redes: (
    fb: #1877f2,
    wp: #25D366,
    ig: #D43089,
    tw: #1DA1F2
);