.box-rrss {
    a:hover {        
        animation: saltar 1s ease-in-out 1 normal both;
    }
    &--icon {
        display: inline-block;
        width: 45px;
        height: 45px;
        line-height: 45px;
        color: #bdbdbd;
        background-color: #040404;
        text-align: center;
        transition: all 300ms ease;
        margin-right: 45px;
    }
}

@keyframes saltar {
    from,
    65%,
    85%,
    to {
        transform: translateY(0) scale(1, 1);
    }
    15% {
        transform: translateY(-1rem) scale(1, 1.2);
    }
    35%,
    45% {
        transform: translateY(-2rem) scale(1, 1.08);
    }
    75% {
        transform: translateY(.5rem) scale(1.2, .8);
    }
    95% {
        transform: translateY(0) scale(1.05, 1.05);
    }
}

.caja-iframe {
    &:hover {
        transition: all 500ms;
        transform: scale(1.2) translateY(-45px);
    }
    iframe {
        width: 100%;
        height: 90%;
        border-radius: 3px;
        margin-right: 5px;
    }
}


