.marcas-main {
  grid-area: marcas-main;
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: 50% 50%;
  grid-template-areas: 
  "h1 h1"        
  "marcas marcas1"
  "pagos pagos";
  min-height: 100%;
  overflow: hidden; 
  .h1-marcas {
    grid-area: h1;
  }
  .container-marcas1 {    
    padding-top: 50px;
    max-width: 950px;
    min-width: 270px;   
    margin: auto;
    grid-area: marcas;
  }
  .container-marcas2 {    
    @extend .container-marcas1;
    grid-area: marcas1;
  }    
  .container-pagos {
    @extend .container-marcas1;
    width: 100%;
    grid-area: pagos;    
  }
}

@media screen and (max-width:768px) and (min-width: 300px) {
  .marcas-main {
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 50% 50%;
    grid-template-areas: 
    "h1 h1"        
    "marcas marcas"
    "marcas1 marcas1"
    "pagos pagos";
    min-height: 100%;
    overflow: auto; 
}
}