@media screen and (max-width:768px) and (min-width: 300px) { 

    /* QUERIS FOOTER */
    .box-redes {
    display: flex;  
    width: 100vw;    
    flex-direction: column;
    align-items: center;
    }

    .box-redes-icon {
        margin: 0px 0px 50px 0px        
    }
    
    .caja-iframe {
        &:hover {
            transition: all 500ms;
            transform: scale(1.2) translateY(-45px);}            
        }

    /* FIN QUERIS FOOTER */
    
    /* QUERIS IMAGEN CAROUSEL */
    .carousel-img {
        height: 25vh;
    }


    }
